---
import { profile as profileData } from "../content/cv/profile";
import Profile from "../lib/profileClass";
import { socials } from "./SideBarFooter.astro";

let profile: Profile = new Profile(profileData);
const profileName = profile.popValue("name");
const profileTitle = profile.popValue("title");

const icons: {
  // Type
  [key: string]: string;
} = {
  // Bootstrap icons for each entry
  birthdate: "bi-asterisk",
  residence: "bi-house",
  email: "bi-envelope",
  phone: "bi-telephone",
  website: "bi-globe",
  linkedin: "bi-linkedin",
  github: "bi-github",
};

export let profileContent = {};

for (let key in profile.getData()) {
  let entry = profile.createEntry(key);
  profileContent[key] = {
    icon: icons[key],
    target: entry.linkTarget,
    text: entry.linkText,
  };
}
---

<div class="profile-header text-center mb-3">
  {profileName && <h1 class="mt-3 text-3xl"> {profileName} </h1>}{
    profileTitle && <h2 class="mt-1 text-2xl font-thin">{profileTitle}</h2>
  }
</div>

<div class="profile-content text-left text-md w-full">
  {
    Object.keys(profileContent).filter(key => !socials.includes(key)).map((key) => (
      <p class="mb-1">
        <i class={`bi ${profileContent[key].icon} mr-3`} />
        {profileContent[key].target ? (
          <a
            href={profileContent[key].target}
            target="_blank"
            rel="noopener noreferrer"
          >
            {profileContent[key].text}
          </a>
        ) : (
          profileContent[key].text
        )}
      </p>
    ))
  }
</div>