---
import { getCollection } from "astro:content";

const { sideBarActiveItemID } = Astro.props;
const activeClass = "bg-base-300"; // For primary color replace with `active` class
const cvPages = (await getCollection("cv")).map((page) => page.slug);
---

{cvPages.length > 1 && 
    <ul class="menu lang-menu shrink menu-md overflow-y-auto">
        {cvPages.map(page => (
            <li><a class={`py-3 text-base ${sideBarActiveItemID === page ? activeClass : ''}`} id={page} href={`/cv/${page}`}>{page.toUpperCase()}</a></li>
        ))}
    </ul>
}

<ul class="menu grow shrink menu-md overflow-y-auto">
    <li><a class={`py-3 text-base ${sideBarActiveItemID === 'home' ? activeClass : ''}`} id="home" href="/">Home</a></li>
    <li><a class={`py-3 text-base ${sideBarActiveItemID === 'projects' ? activeClass : ''}`} id="projects" href="/projects">Projects</a></li>
    <li><a class={`py-3 text-base ${sideBarActiveItemID === 'services' ? activeClass : ''}`} id="services" href="/services">Services</a></li>
    {cvPages.length === 1 && <li><a class={`py-3 text-base ${sideBarActiveItemID === cvPages[0] ? activeClass : ''}`} id={cvPages[0]} href={`/cv/${cvPages[0]}`}>CV</a></li>}
    <li><a class={`py-3 text-base ${sideBarActiveItemID === 'cv' ? activeClass : ''}`} id="cv" href="/cv">CV old</a></li>
</ul>
